@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #F5B041;
    --primario: #F5B041;
    --gris-claro:#B8B8B8;
    --sombra: 0 0 13px 0 rgba(185,185,185,.25);
}

body {
    font-family: "Poppins", sans-serif;
    --s: 222px; /* control the size */
    --c1: #1c1c1c;
    --c2: #191919;
    --c3: #292929;
    --_g: var(--c1) 10%,var(--c2) 10.5% 19%,#0000 19.5% 80.5%,var(--c2) 81% 89.5%,var(--c3) 90%;
    --_c: from -90deg at 37.5% 50%,#0000 75%;
    --_l1: linear-gradient(145deg,var(--_g));
    --_l2: linear-gradient( 35deg,var(--_g));
    background: 
        var(--_l1), var(--_l1) calc(var(--s)/2) var(--s),
        var(--_l2), var(--_l2) calc(var(--s)/2) var(--s),
        conic-gradient(var(--_c),var(--c1) 0) calc(var(--s)/8) 0,
        conic-gradient(var(--_c),var(--c3) 0) calc(var(--s)/2) 0,
        linear-gradient(90deg,var(--c3) 38%,var(--c1) 0 50%,var(--c3) 0 62%,var(--c1) 0);
    background-size: var(--s) calc(2*var(--s)/3);  
}

.container {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

/* NAV */
.nav {
    --padding-container: 0;
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed; /* Hace que el nav quede fijo */
    top: 0; /* Lo fija en la parte superior */
    width: 100%; /* Asegura que el nav abarque todo el ancho de la página */
    background-color: transparent; /* Inicialmente transparente */
    transition: background-color .8s ease; /* Transición suave para el cambio de fondo */
    z-index: 1000; /* Lo coloca por encima de otros elementos */
}

.nav__content {
    display: flex;
    align-items: center;
    width: 90%; /* Ancho del contenido del nav */
    margin: 0 auto; /* Centra el contenido */
}

.nav.scrolled {
    background-color: rgba(0, 0, 0, 0.6); /* Color de fondo cuando se desplaza */
}

.nav__title {
    padding: 0 0 5px 0;
    font-weight: 300;
    color: #fff; /* Color blanco para que sea visible sobre fondo transparente */
    line-height: 1; /* Asegurar que el texto no se corte */
    cursor: pointer;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.lenguaje{
    width: 20px;
    max-width: 20px;
    cursor: pointer;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__close {
    display: var(--show, none);
}

.nav__img {
    display: block;
    width: 30px;
}

.content {
    padding-top: 100px; /* Añade un relleno superior para evitar que el contenido se superponga al nav */
}

/* SERVICIOS */
.servicios {
    margin-top: 100px;
    margin-bottom: 250px;
    min-height: 650px;
    max-height: 650px;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 0;
    text-align: center;
}

.services-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.service-item {
    display: flex;
    background-color: #B5B2B2;
    border: 2px solid var(--primario);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 30%; /* Ajusta el ancho de los elementos de servicio */
    cursor: pointer;
    transition: background-color 0.5s;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    transition: background-color 0.5s, transform 0.3s; /* Añadir transición de transformación */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    font-size: 1rem; /* Reducir ligeramente el tamaño de la fuente */
    min-height: 50px; /* Asegurar una altura mínima */
    box-shadow: var(--sombra); /* Añadir sombra para darle más estilo */
}

.service-item:hover {
    background-color: #fff;
    transform: translateY(-5px); /* Efecto de desplazamiento hacia arriba */
}

/* Carrusel y descripción */
.service-description {
    display: none;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.service-description.visible {
    max-height: 1200px;
    opacity: 1;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 30px 0 0 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.carousel {
    width: 50%;
    margin-right: 20px;
}

.carousel img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.carousel p {
    color: white;
    text-align: center;
    margin: 10px 0 0 0;
}

.description {
    width: 50%;
    padding: 20px;
    color: white;
}

.description p {
    margin: 0;
}


/* ELEMENTOS APARECIENDO SCROLL */
.elemento {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.elemento.visible {
    opacity: 1;
    transform: translateY(0);
}

/* FADE para la animación de desvanecimiento */
.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

/* FOOTER */
footer{
    margin-top: 30px;
    position: relative;
    width: 100%;background: #F5B041;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menute{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menute li 
{
    list-style: none;
    align-items: center;
}

footer .social_icon li a{
    font-size: 2em;
    color: #1c1c1c;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-5px);
}

footer .menute li a{
    font-size: 1.2em;
    color: #000;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menute li a:hover{
    opacity: 1;
    transform: translateY(-5px);
}

footer p{
    color: #000;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1em
}

footer .wave{
    color:#F5B041;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}

@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave2{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
